* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
}

h2 {
  font-size: 1.2em;
}

p {
  color: hsl(0, 0%, 59%);
  font-size: 0.7em;
}

hr {
  border-top: 0;
  border-width: thin;
}

.c1 {
  position: absolute;
  top: -460px;
  left: -290px;
}

.c2 {
  position: absolute;
  bottom: -576px;
  right: -250px;
}

.main {
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.card {
  background-color: white;
  height: 24rem;
  width: 21rem;
  margin: 0 auto;
  position: relative;
  top: 11rem;
  border-radius: 20px;
  line-height: 1.5em;
  box-shadow: 1px 1px 20px 2px hsl(227, 10%, 46%);
}

.header {
  height: 9rem;
  width: 21rem;
}

.card-header-bg {
  width: 21rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.profile-picture {
  position: relative;
  bottom: 58px;
  border-style: solid;
  border-color: white;
  border-radius: 50rem;
  border-width: thick;
}

.name {
  position: relative;
  bottom: 50px;
  font-size: 1.2rem;
}

.age {
  margin-left: 5px;
  font-weight: normal;
  color: hsl(0, 0%, 59%);
}

.london {
  font-size: 0.9em;
  font-weight: normal;
  position: absolute;
  left: 143px;
  bottom: 120px;
}

.stats {
  width: 21rem;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.followers,
.likes,
.photos {
  margin: 15px 25px;
}
